.tarot-imgs {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.654);
  border-radius: 2%;
  height:30em;
  width: auto;
  border: 3px solid rgba(0, 0, 0, 0.069);
  margin-left: 25px;
  margin-right: 15px;
  margin-bottom: 25px;
}
.card-carousel {
  max-width: 322px
}