<<<<<<< HEAD


#account{
    min-height: 100%;
    min-width: 100%;
    margin: -10em auto;
    background: url("/static/hero-page/hero-page-background.svg") no-repeat center
      center;
    background-size: cover;
    overflow: hidden;
    padding:1rem;
}

.container {
    margin-top: 12em;
    margin-bottom: 35em;
=======
#profile-card{
    background: url("/static/hero-page/hero-page-background.svg") no-repeat center
    center;
background-size: cover;
}
#cell-modal-get-code-btn{
    margin-left: 1%;
    background-color: #9360ff !important;
    color: white !important;
}
#cell-modal-verify-code-btn{
    margin-left: 1%;
    background-color: #9360ff !important;
    color: white !important;
>>>>>>> origin
}