html {
  font-size: 62.5%;
}

/* .main {
  background-image: url("../../../public/images/background.png");
  background-size: cover;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  font-family: "Poppins";
  display: flex;
} */

.tarot-shuffle {
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.654);
  border-radius: 2%;
  height: 14.6em;
  width: auto;
  border: 0.25px solid #CEBCA3;
  align-content: center;
  position: relative;
  margin-left: -5rem;
}

.tarot-shuffle:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform:translateY(10px) !important
}

#card-orientation {
  transform: scaleY(-1)
}

.select-spread-form {
  margin-top: 40px;
  display: inline-block;
}

.tarot-imgs {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.654);
  border-radius: 2%;
  height:30em;
  width: auto;
  border: 3px solid rgba(0, 0, 0, 0.069);
  margin-left: 25px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.card-carousel {
  max-width: 322px
}

.daily-tarot {
  margin-left: auto;
  margin-right: auto;
}

.note-content{
  display: flex;
  flex-direction: column;
}

.note-form {
  width: 500px;
  font-size: 16px;
  font-family: "poppins";
  padding: 1em 2em;
  text-align: center;
}

.upright {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.654);
  border-radius: 2%;
  border: 3px solid rgba(0, 0, 0, 0.069);
  height:32em;
  width: auto;
}

.reversed {
  box-shadow: -10px -10px 5px 0px rgba(0, 0, 0, 0.654);
  border-radius: 2%;
  border: 3px solid rgba(0, 0, 0, 0.069);
  height:32em;
  width: auto;
  transform: rotate(180deg);
}

.cat-img {
  width: 100%;
  height: auto;
}