
.login-forms {
  margin: auto;
  width: 50%;
  height: 50%;
 
    font-family: "Poppins";
    text-transform: uppercase;
  }
  .login-forms button{
    background-color: #9360ff !important;
    color: white !important;
  }
 
.login-forms input:focus {
  box-shadow: 0 0 5px blue;
}
.login-forms input{
  outline: 1px solid black;
  background-color: white !important;
}
.login-forms label{
  font-weight: 400;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  box-shadow: 0 0 2px  blue !important;
  
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs{
  font-weight: 500;
  color: black !important;
  text-decoration: none !important;
}


.signup-welcome {
  color: blue
}
.error {
  color: rgb(255, 0, 0)
}
div .tab-content form{
  justify-content:center
}
div .tab-content form{
  margin-left: 0;
  margin-right: 0;
}