.login-page {
  margin: -7em auto;
  padding-top: 3%;
  padding-left: 42%;
  padding-bottom: 42%;
  padding-right: 42%;
  background: url("/static/hero-page/hero-page-background.svg") no-repeat center
      center;
  background-size: cover;
    overflow:hidden;
}

.login-forms {
  margin-top: 8em;
}

.login-forms input:focus {
  box-shadow: 0 0 5px #9360ff;
}
.login-forms input{
  outline: 1px solid black;
}


.signup-welcome {
  color: blue
}
.error {
  color: #9360ff
}
