.journal-card {
  margin-top: 1.5rem;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 95%;
}

.journal-card > h5 {
  margin-left: 2rem;
}

.journal-card-header {
  text-align: center;
  height: 2.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.guidance-button {
  float: right;
}

.dream-imgs {
  float: left;
}

.journal-entry {
  width: 90%;
  border-radius: 5px;
  border-style: none;
  background: #d0d8fc;
  margin-top: 0.25rem;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
}
