.forgot-password-body{
    height: 100%;
    width:100%
}
#forgot-password-form{
    width:75%;
    margin:auto;
}
body{
    height: 100vh;
    overflow: hidden;
}
#root{
    height: 100%;
    background: url("/static/hero-page/hero-page-background.svg") no-repeat center
    center;
background-size: cover;
  overflow:hidden;
  font-family: "Poppins";
  text-transform: uppercase;
}

form label{
    font-weight: 400;
}
.form-control{
    outline: 1px solid black;
    background-color: white !important;
}
.form-control:focus{
    box-shadow: 0 0 5px blue;
}
#reset-button{
    background-color: #9360ff !important;
    color: white !important;}

div .card-header{
    background-color: #9360ff;
    color: white;
}
div .card-body{
    background: url("/static/hero-page/hero-page-background.svg") no-repeat center
    center;
background-size: cover;
}
div .modal-content{
    background: url("/static/hero-page/hero-page-background.svg") no-repeat center
    center;
background-size: cover;
}
#check-code-button{
    margin-left: 1%;
    background-color: #9360ff !important;
    color: white !important;
}
#new-password-button{
    margin-left: 1%;
    background-color: #9360ff !important;
    color: white !important;
}
#signup-check-code{
    margin-left: 1%;
    background-color: #9360ff !important;
    color: white !important;
}