body {
  margin: 0;
  font-family: "Poppins";
}

/* @media screen and (min-width: 480px) {
  .cyber-mystic {
    height: 25em;
  }
} */

.hero-page {
  min-height: 100%;
  min-width: 100%;
  margin: -9em auto;
  background: url("/static/hero-page/hero-page-background.svg") no-repeat center
    center;
  background-size: cover;
  overflow:hidden;
}

/* Hero Section */

.hero-section {
  display: flex;
  margin-top: 2.125em;
}

.left-col {
  width: 50%;
  margin-left: 8.75em;
  margin-top: 9em;
}

.heading {
  font-size: 3.25rem;
  font-family: "Playfair Display";
  font-weight: normal;
  margin: 0;
  line-height: 4.3125rem;
  width: 27.625rem;
}

.subheading {
  font-size: 1.25rem;
  font-family: "Playfair Display";
  line-height: 155%;
  margin: 0;
  width: 35.3125rem;
}

.cta-btns {
  display: flex;
  gap: 3.5625em;
  margin-top: 2.9375em;
  margin-left: 6.25em;
  position: relative;
}

.primary-cta {
  width: auto;
  background-color: #9360ff;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-radius: 24.125em;
  padding: 0.875rem 1.125rem;
  border: 1.5px solid transparent;
}

.primary-cta:hover {
  color: white;
  background: #9360ff;
  border: 1.5px solid rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 39.0096px #9360ff, 0px 0px 22.2912px #9360ff,
    0px 0px 13.0032px #9360ff, 0px 0px 6.5016px #9360ff,
    0px 0px 1.8576px #9360ff, 0px 0px 0.9288px #9360ff;
  border-radius: 24.125em;
}

/* Right Column */

.right-col {
  width: 50%;
  margin-top: 9em;
}

.cyber-mystic-container {
  position: relative;
  width: 34.5em;
  height: 50.75em;
}

.cyber-mystic {
  content: "";
  height: 50.3125em;
  width: auto;
  position: absolute;
  right: -125px;
  top: -125px;
  pointer-events: none;
}

.quote-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.1875em;
  margin-bottom: 12.5em;
  padding: 2em 2.5625em 1.5625em 2.5625em;
  width: 36.8125em;
  height: 9.125em;
  border: 1px solid black;
  border-radius: 2.8125em;
}

.quote {
  height: 3.8125rem;
  width: 31.6875rem;
  font-size: 1.125rem;
  font-family: "Luxurious Roman";
  font-weight: normal;
  font-style: italic;
  line-height: 1.375rem;
}

.quote-author {
  font-size: 1.125rem;
  font-family: "Luxurious Roman";
  font-weight: normal;
  font-style: italic;
  line-height: 1.375rem;
  position: absolute;
  left: 314px;
  top: 93px;
}

.cloud-left {
  position: absolute;
  bottom: -55px;
  left: -105px;
}

.cloud-right {
  position: absolute;
  bottom: -50px;
  right: -80px;
}
