* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#error-content {
  text-align: center;
}

.CM-navbar {
  background-color: #DFE3FF;
  border: 3px solid rgba(0, 0, 0, 0.38);
}

.CM-banner {
  overflow-y: hidden;
  max-width: 100%;
}

.home-row {
  max-width: 100%;
}