* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#error-content {
  text-align: center;
}

.CM-navbar {
  background-color: #D1D8FC;
  border: 3px solid rgba(0, 0, 0, 0.38);
}

.CM-banner {
  overflow-y: hidden;
  width: 100%;
  height: 180px;
  object-fit: contain;
  background-color: #D1D8FC;
}

.home-row {
  max-width: 100%;
}

.btn-primary {
  background-color: #D1D8FC !important;
  color: black !important;
  border-color: #D1D8FC !important;
}

.btn-danger {
  background-color: #94a6ff !important;
  color: black !important;
  border-color: #94a6ff !important;
}

.form-control {
  background-color: #D1D8FC !important;
}